.chat-markdown-display.problem-statement .markdown-content {
	.inline-code {
		background-color: #ffffff22;
		padding: 0.175rem 0.325rem;
		/* color: #aaa; */
		border: 1px solid #88888850;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "DM Sans" !important;
	}

	.markdown-paragraph {
		margin-bottom: 1rem;
		font-family: "DM Sans" !important;
	}
}
