.chat-markdown-display.algo-problem .markdown-content {
	.inline-code {
		background-color: #ffffff22;
		padding: 0.175rem 0.325rem;
		/* color: #aaa; */
		border: 1px solid #88888850;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "DM Sans" !important;
	}

	.markdown-paragraph {
		margin-bottom: 1rem;
		font-family: "DM Sans" !important;
	}

	.markdown-quote {
		font-family: monospace;
		white-space: pre-wrap !important;
	}
}

.chat-markdown-display.algo-problem .markdown-content {
	.markdown-paragraph:last-child {
		margin-bottom: 0rem;
	}
}
